{
    "plugins": [
        [
            "module:react-native-dotenv",
            {
                "envName": "APP_ENV",
                "moduleName": "@env",
                "path": ".env",
                "blocklist": null,
                "allowlist": null,
                "safe": false,
                "allowUndefined": true,
                "verbose": false
            }
        ],
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./src"],
                "extensions": [".js", ".tsx", ".ios.js", ".android.js"],
                "alias": {
                    "@components": "./src/components",
                    "@screens": "./src/screens",
                    "@assets": "./src/assets",
                    "@layouts": "./src/layouts",

                    "@icons": "./src/assets/icons",
                    "@images": "./src/assets/images",
                    "@constants": "./src/constants",

                    "@services": "./src/services",
                    "@providers": "./src/providers",
                    "@hooks": "./src/hooks"
                }
            }
        ]
    ]
}
